@import './grid.scss';

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Regular.ttf") format("ttf"),
    url("../public/fonts/Roboto-Regular.woff") format("woff"),
    url("../public/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas";
  src: url("../public/fonts/BebasNeue-Regular.ttf") format("ttf"),
    url("../public/fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


* {
  font-family: "Bebas", "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  max-width: 1400px;
  margin: 0 auto;

}
.afisha {
display: flex;
gap: 15px;
margin-bottom: 50px;
flex-wrap: wrap;
}

.afisha_logo {
  max-width: 500px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  background-color: #26272b;
  background-image: url('../public/pictures/log.png');
  color: #dedede;
  border-radius: 15px;
  padding: 25px;

  p {

    &:nth-child(2) {
      font-size: 1.5em;
      margin-bottom: 15px;
    }
    
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 10px;
    }
  }
}
.afisha_logo img {
  width: 500px;
  border-radius: 15px;
}

h1 {
  font-size: 4em;
}

.afisha_description {

  background-color: #DDF3AE;
  padding: 25px;
  border-radius: 15px;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  h2 {
    font-size: 3em;
    margin-top: 0;
    font-weight: bold;
  }
  p {
    line-height: 1.5;
  }

}
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  gap: 10px;

}
video {
margin-bottom: 0;
border-radius: 15px;
}

.button {
  background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

  outline: 0;
  border: none;
  font-size: 1.5em;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  &:hover {
    opacity: 0.6;
  }
}

.participation {
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 25px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 3em;
    margin-bottom: 25px;
  }

  p {
    font-size: 2em;
  }
}
.party {
  background-color: #FFFFFF;
  background-image: url('../public/pictures/party.png');
}

.solo {
  background-color: #F44D5F;
  background-image: url('../public/pictures/solo.jpg');
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

footer {
  background-color: #26272b;
  color: #dedede;
  padding-top: 50px;
  padding-bottom: 50px;

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  picture {
    display: block;
    width: 50px;

    img {
      max-width: 100%;
    }
  }
}

.photos h2 {
  font-size: 2.5em;
}


.signup {
  &_description {
    display: flex;
    gap: 15px;
    margin-bottom: 50px;

  section {
    display: flex;
    flex-direction: column;
    gap: 15px;

  }
  }
  
}

section h2 {
  margin-bottom: 20px;
}
.timer {
  display: flex;
  width: 500px;
  justify-content: space-around;
  font-size: 3em;
  padding: 25px;
  height: fit-content;
  border-radius: 15px;
  background-color: #26272b;
  color: #dedede;
  padding-bottom: 45px;

  

  p {
    position: relative;
    
    &:first-child {
      &:after {
        content: 'Дни';
        position: absolute;
        top: 55px;
        font-size: 0.5em;
        right: -5px
      }
      
      }
      &:nth-child(3) {
        &:after {
          content: 'Часы';
          position: absolute;
          top: 55px;
          font-size: 0.5em;
          right: -20px
        }
      }
      &:nth-child(5) {
        &:after {
          content: 'Минуты';
          position: absolute;
          top: 55px;
          font-size: 0.5em;
          right: -20px
        }
      }
      &:nth-child(7) {
        &:after {
          content: 'Секунды';
          position: absolute;
          top: 55px;
          font-size: 0.5em;
          right: -35px
        }
      }
  }
}

.route {
  background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
border-radius: 15px;
padding: 25px;
height: 100%;
display: flex;
align-items: center;
justify-content: center;

}



form {
  display: flex;
  flex-direction: column;

  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  border-radius: 15px;
  gap: 15px;
  padding: 15px;

  input {
    padding: 5px;
    outline: 0;
    border-radius: 5px;

  }

}

iframe {
  border-radius: 15px;
}

.map {

  position: relative;

  span {
    position: absolute;
    top:250px;
    left: 250px;
    font-size: 1.5em;
    background-color: #26272b;
    color: #dedede;
    padding: 25px;
    border-radius: 15px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 15px;
  }

  #register {
    max-width: 90%;
    align-self: center;
  }
  .afisha_description, #afishavid {
    max-width: 390px;
    align-self: center;
  }

  .signup {

    iframe {
      display: none;
    }
    h2 {
      text-align: center;
    }
  }
  .signup_description {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  form {
    flex-grow: 1;
  }
  header {
    h1 {
      text-align: center;
    }
  }
  .afisha {
   flex-direction: column;
   align-items: center;
  }
  .participation {
    height: 500px;
  }

  .timer {
    width: 500px;

    p:after {
      font-size: 0.1em;
    }
  }
  .afisha_logo {
    height: 800px;
  }
  .photos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}


@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
